@charset "UTF-8";

@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-Bold.woff2") format("woff2"), url("../fonts/Acrom-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-ExtraBold.woff2") format("woff2"), url("../fonts/Acrom-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: LiquidCrystalDisplay;
  font-display: swap;
  src: url("../fonts/LiquidCrystalDisplay-Normal.woff2") format("woff2"), url("../fonts/LiquidCrystalDisplay-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-email:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-inst:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

._icon-tiktok:before {
  content: "\e905";
}

._icon-vk:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-main {
  font-family: "Acrom";
}

.main {
  position: relative;
  padding-top: 250px;
  text-transform: uppercase;
}

.main__container {
  position: relative;
  z-index: 10;
}

.main__big {
  color: #6777ff;
  line-height: 120%;
  font-weight: 900;
  position: relative;
  z-index: 11;
}

@supports (font-size: clamp( 2.6875rem , 0.7570652174rem  +  9.652173913vw , 9.625rem )) {
  .main__big {
    font-size: clamp( 2.6875rem , 0.7570652174rem  +  9.652173913vw , 9.625rem );
  }
}

@supports not (font-size: clamp( 2.6875rem , 0.7570652174rem  +  9.652173913vw , 9.625rem )) {
  .main__big {
    font-size: calc(2.6875rem + 6.9375 * (100vw - 20rem) / 71.875);
  }
}

.main__sub-big {
  font-weight: 600;
  line-height: 120%;
  position: relative;
  z-index: 11;
}

@supports (font-size: clamp( 0.5625rem , 0.0929347826rem  +  2.347826087vw , 2.25rem )) {
  .main__sub-big {
    font-size: clamp( 0.5625rem , 0.0929347826rem  +  2.347826087vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.0929347826rem  +  2.347826087vw , 2.25rem )) {
  .main__sub-big {
    font-size: calc(0.5625rem + 1.6875 * (100vw - 20rem) / 71.875);
  }
}

.main__title {
  display: -ms-grid;
  display: grid;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  z-index: 11;
}

@supports (font-size: clamp( 1.4375rem , 0.6201086957rem  +  4.0869565217vw , 4.375rem )) {
  .main__title {
    font-size: clamp( 1.4375rem , 0.6201086957rem  +  4.0869565217vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 0.6201086957rem  +  4.0869565217vw , 4.375rem )) {
  .main__title {
    font-size: calc(1.4375rem + 2.9375 * (100vw - 20rem) / 71.875);
  }
}

.main__title span {
  color: #6777ff;
}

.main__block {
  position: relative;
  z-index: 11;
}

.main__block:not(:first-child) {
  margin-top: 57px;
}

.main__image-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.main__image-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.main__bg-1 {
  bottom: -20px !important;
  right: 0 !important;
  left: auto !important;
  top: auto !important;
  z-index: 1;
  max-width: 55%;
}

.main__bg-2 {
  bottom: -129px !important;
  top: auto !important;
  right: -10px !important;
  left: auto !important;
  z-index: 7;
  max-width: 55%;
}

.main__ten-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 56%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.11%, #ffffff), color-stop(69.4%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, #ffffff 28.11%, rgba(255, 255, 255, 0) 69.4%);
  background: linear-gradient(90deg, #ffffff 28.11%, rgba(255, 255, 255, 0) 69.4%);
  z-index: 5;
}

.block-main {
  border-radius: 30px;
  max-width: 710px;
}

.block-main__heading {
  background: #6777ff;
  color: #fff;
  padding: 5px 38px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px 0 0;
  min-height: 72px;
  font-weight: 700;
  line-height: 1.2051282051;
  color: #fff;
}

@supports (padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__heading {
    padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem );
  }
}

@supports not (padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__heading {
    padding-left: calc(1.0625rem + 1.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__heading {
    padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem );
  }
}

@supports not (padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__heading {
    padding-right: calc(1.0625rem + 1.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.5rem , 1.2391304348rem  +  1.3043478261vw , 2.4375rem )) {
  .block-main__heading {
    font-size: clamp( 1.5rem , 1.2391304348rem  +  1.3043478261vw , 2.4375rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2391304348rem  +  1.3043478261vw , 2.4375rem )) {
  .block-main__heading {
    font-size: calc(1.5rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

.block-main__body {
  background: #e5e5e5;
  padding-top: 10px;
  border-radius: 0 0 30px 30px;
}

@supports (padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__body {
    padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem );
  }
}

@supports not (padding-left: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__body {
    padding-left: calc(1.0625rem + 1.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__body {
    padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem );
  }
}

@supports not (padding-right: clamp( 1.0625rem , 0.6972826087rem  +  1.8260869565vw , 2.375rem )) {
  .block-main__body {
    padding-right: calc(1.0625rem + 1.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 1.4375rem , 1.1766304348rem  +  1.3043478261vw , 2.375rem )) {
  .block-main__body {
    padding-bottom: clamp( 1.4375rem , 1.1766304348rem  +  1.3043478261vw , 2.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.4375rem , 1.1766304348rem  +  1.3043478261vw , 2.375rem )) {
  .block-main__body {
    padding-bottom: calc(1.4375rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

.block-main__body > :first-child {
  padding-top: 10px;
}

.block-main__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (font-size: clamp( 1.1875rem , 1.1179347826rem  +  0.347826087vw , 1.4375rem )) {
  .block-main__row {
    font-size: clamp( 1.1875rem , 1.1179347826rem  +  0.347826087vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1.1875rem , 1.1179347826rem  +  0.347826087vw , 1.4375rem )) {
  .block-main__row {
    font-size: calc(1.1875rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1rem , 0.4608695652rem  +  2.6956521739vw , 2.9375rem )) {
  .block-main__row {
    font-size: clamp( 1rem , 0.4608695652rem  +  2.6956521739vw , 2.9375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.4608695652rem  +  2.6956521739vw , 2.9375rem )) {
  .block-main__row {
    font-size: calc(1rem + 1.9375 * (100vw - 20rem) / 71.875);
  }
}

@supports (min-height: clamp( 3.0625rem , 2.1581521739rem  +  4.5217391304vw , 6.3125rem )) {
  .block-main__row {
    min-height: clamp( 3.0625rem , 2.1581521739rem  +  4.5217391304vw , 6.3125rem );
  }
}

@supports not (min-height: clamp( 3.0625rem , 2.1581521739rem  +  4.5217391304vw , 6.3125rem )) {
  .block-main__row {
    min-height: calc(3.0625rem + 3.25 * (100vw - 20rem) / 71.875);
  }
}

.block-main__row:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

@supports (margin-top: clamp( 0.625rem , 0.3467391304rem  +  1.3913043478vw , 1.625rem )) {
  .block-main__row:not(:first-child) {
    margin-top: clamp( 0.625rem , 0.3467391304rem  +  1.3913043478vw , 1.625rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.3467391304rem  +  1.3913043478vw , 1.625rem )) {
  .block-main__row:not(:first-child) {
    margin-top: calc(0.625rem + 1 * (100vw - 20rem) / 71.875);
  }
}

.block-main__time {
  font-weight: 800;
  line-height: 1.1914893617;
}

.block-main__price {
  font-weight: 700;
  line-height: 1.1914893617;
}

.header {
  position: absolute;
  width: 100%;
  background: #6777ff;
  color: #fff;
  z-index: 6;
}

.header__container {
  min-height: 196px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@supports (max-width: clamp( 5.8125rem , 5.1690217391rem  +  3.2173913043vw , 8.125rem )) {
  .header__image img {
    max-width: clamp( 5.8125rem , 5.1690217391rem  +  3.2173913043vw , 8.125rem );
  }
}

@supports not (max-width: clamp( 5.8125rem , 5.1690217391rem  +  3.2173913043vw , 8.125rem )) {
  .header__image img {
    max-width: calc(5.8125rem + 2.3125 * (100vw - 20rem) / 71.875);
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2857142857;
  text-transform: uppercase;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__adress {
  position: absolute;
  right: 0;
  top: -55px;
  width: 272px;
  font-weight: 700;
  line-height: 125.04%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
}

@supports (gap: clamp( 0.8125rem , -0.3498931624rem  +  2.4216524217vw , 1.875rem )) {
  .menu__list {
    gap: clamp( 0.8125rem , -0.3498931624rem  +  2.4216524217vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.8125rem , -0.3498931624rem  +  2.4216524217vw , 1.875rem )) {
  .menu__list {
    gap: calc(0.8125rem + 1.0625 * (100vw - 48rem) / 43.875);
  }
}

.menu__link {
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.875rem , 0.6014957265rem  +  0.5698005698vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.6014957265rem  +  0.5698005698vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6014957265rem  +  0.5698005698vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.875rem + 0.25 * (100vw - 48rem) / 43.875);
  }
}

.menu__icon {
  margin-left: auto;
}

.icon-menu {
  display: none;
}

@media (max-width: 700px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.75rem;
    height: 1.4375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.28125rem;
    background-color: #fff;
    border-radius: 10px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.15625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 43.75em) {
  .header__contacts {
    display: none;
  }

  .menu__body {
    display: none;
  }
}